h1 {
    text-align: center;
}

#riverspage1 > img{
    width: 60%;
    float: left;
    margin-right: 20px;
    border: solid black 5px;
}

#riverspage1 > p {
    padding: 20px;
    
}

#riverspage2 > img{
    float: right;
    width: 60%;
    border: solid black 5px;
    margin-left: 20px;
}
#riverspage2 > p{
    padding-left: 20px;
}

#riverspage2 > h3{
    text-align: center;
}

#div3 > h3{
    text-align: center;
}

#div3 > p{
    padding: 20px;
    line-height: 30px;
    margin-bottom: -150px;
}

